---
import type { SummaryCharacter } from "../types/summary.formated.character";
import { ICO_API_URL } from "../utils/API";
import { COLORS, RARITY } from "../utils/atributes";

interface Props {
    char: SummaryCharacter;
}

const { char } = Astro.props;

const color = COLORS[char.color[0]._id];
const rar = RARITY[char.rarity._id];
---

<a
    href={`/character/${char.num}`}
    class=`character-card ${(char.switch || char.transformable) ? (char.switch && char.transformable || char.switch && char.fusion ? "three-pic" : "two-pic") : ""}
`
    data-color={`[${char.color[0]._id}${char.color.length > 1 ? "," + char.color[1]._id : ""}]`}
    data-rarity={char.rarity._id}
    data-tags={`[${char.tags.map((item) => item._id).join(",")}]`}
    data-chapter={char.chapter._id}
    data-type={char.type._id}
    data-name={char.name}
    data-zenkai={char.zenkai}
    data-switch={char.switch}
    data-transformable={char.transformable}
    data-ll={char.lf}
>
    <article class={`card ${char._id}`}>
        <img
            decoding="async"
            loading="lazy"
            class={`card-bchaico st ${char.transformable || char.switch ? "fade" : ""}`}
            src={`${ICO_API_URL}${char.num}.webp`}
            alt=""
        />
        {
            (char.transformable || char.switch) && (
                <img decoding="async" loading="lazy" class="card-bchaico nd" src={`${ICO_API_URL}${char.num}2.webp`} alt="" />
            )
        }
        {
            ((char.switch && char.fusion) || (char.switch && char.transformable)) && (
                <img class="card-bchaico rd" src={`${ICO_API_URL}${char.num}3.webp`} alt="" />
            )
        }
        <img decoding="async" loading="lazy" class="card-color" src={`/color/${color}.webp`} alt="" />
        <img decoding="async" loading="lazy" class="card-element" src={`/element/${color}1.webp`} alt="" />
        <img decoding="async" loading="lazy" class="card-rarity" src={`/rarity/${rar}.webp`} alt="" />
        {char.lf && <img decoding="async" loading="lazy" class="card-ll" src={`/props/LL.webp`} alt="" />}
        {char.zenkai && <img decoding="async" loading="lazy" class="card-zenkai" src={`/props/ZENKAI.webp`} alt="" />}
    </article>
</a>

<style>
    .hidden {
        display: none;
    }

    a.character-card.two-pic article img.card-bchaico.st {
        animation: fadeTwo 6s infinite alternate ease-in-out !important;
    }

    a.character-card.two-pic article img.card-bchaico.nd {
        animation: fadeTwo 6s infinite alternate-reverse ease-in-out !important;
    }

    a.character-card.three-pic article img.card-bchaico.st {
        animation: fadeThree 12s infinite !important;
        animation-delay: 0s;
    }

    a.character-card.three-pic article img.card-bchaico.nd {
        animation: fadeThree 12s infinite -8s !important;
    }

    a.character-card.three-pic article img.card-bchaico.rd {
        animation: fadeThree 12s infinite -4s !important;
    }

    article.card {
        width: 100%;
        position: relative;
        transition: 0.2s ease-in-out transform;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;

        &:hover {
            transform: scale(1.01);
        }

        img.card-bchaico,
        img.card-color {
            width: 100%;
        }

        img.card-zenkai {
            max-width: 96px;
            right: -7.5%;
            top: 10%;
            z-index: 3;
        }

        img:not(img.card-bchaico.st) {
            position: absolute;
        }

        img.card-bchaico.s.fade,
        img.card-bchaico.nd,
        img.card-bchaico.rd {
            opacity: 0;
        }

        img.nd,
        img.rd {
            position: absolute;
            left: 0;
            bottom: -16px;
            z-index: 2;
        }

        img.card-bchaico.st {
            position: relative;
            bottom: -16px;
            z-index: 3;
        }

        img.card-element {
            top: 10%;
            left: -10%;
            z-index: 3;
        }

        img.card-rarity {
            width: 72px;
            bottom: 2.5%;
            left: 0;
            z-index: 3;
        }

        img.card-ll {
            bottom: 3%;
            left: 50%;
            translate: -50% 0;
            z-index: 2;
        }

        img.card-color {
            left: 50%;
            translate: -50% 0;
            bottom: 0;
            z-index: 1;
        }
    }

    @keyframes fadeThree {
        0% {
            opacity: 1;
        }
        20% {
            opacity: 1;
        }
        34% {
            opacity: 0;
        }
        88% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fadeTwo {
        0% {
            opacity: 1;
        }
        25% {
            opacity: 1;
        }
        75% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
</style>
