---
import type { Abilities, ZenkaiAbilities } from "../types/formated.character";

interface Props {
    zenkaiAbilities: ZenkaiAbilities | null;
    abilities: Abilities;
    character: {
        zenkai: boolean;
        switch: boolean;
        transformable: boolean;
        fusion: boolean;
    };
}

const { zenkaiAbilities, abilities, character } = Astro.props;
console.log(abilities.main)
---

<article class="character-ability main st on">
    <h3>{abilities.main[0][0]}</h3>
    <pre>{abilities.main[0][1]}</pre>
</article>
{
    (character.transformable || character.switch) && (
        <article class="character-ability main nd off">
            <h3>{abilities.main[1][0]}</h3>
            <pre>{abilities.main[1][1]}</pre>
        </article>
    )
}
{
    (character.switch && character.fusion) && (
        <article class="character-ability main rd off">
            <h3>{abilities.main[2][0]}</h3>
            <pre>{abilities.main[2][1]}</pre>
        </article>
    )
}
{
    zenkaiAbilities && character.zenkai && (
        <article class="character-ability main st-zenkai off">
            <h3>{zenkaiAbilities.main[0][0]}</h3>
            <pre>{zenkaiAbilities.main[0][1]}</pre>
        </article>
    )
}
{
    (character.transformable || character.switch) &&
        zenkaiAbilities &&
        character.zenkai && (
            <article class="character-ability main nd-zenkai off">
                <h3>{zenkaiAbilities.main[1][0]}</h3>
                <pre>{zenkaiAbilities.main[1][1]}</pre>
            </article>
        )
}
