---
import type {
    Abilities,
    ZenkaiAbilities,
} from "../types/formated.character";

interface Props {
    zenkaiAbilities: ZenkaiAbilities | null;
    abilities: Abilities;
    character: {
        zenkai: boolean;
        switch: boolean;
        transformable: boolean;
        fusion: boolean;
    };
}

const { zenkaiAbilities, abilities, character } = Astro.props;
---

<article class="ability unique1 st on">
    <h3>{abilities.unique1[0][0]}</h3>
    <pre>{abilities.unique1[0][1]}</pre>
</article>

{
    abilities.unique2 && (
        <article class="ability unique2 st on">
            <h3>{abilities.unique2[0][0]}</h3>
            <pre>{abilities.unique2[0][1]}</pre>
        </article>
    )
}

{
    (character.transformable || character.switch) && (
        <article class="ability unique1 nd off">
            <h3>{abilities.unique1[1][0]}</h3>
            <pre>{abilities.unique1[1][1]}</pre>
        </article>
        <article class="ability unique2 nd off">
            <h3>{abilities.unique2[1][0]}</h3>
            <pre>{abilities.unique2[1][1]}</pre>
        </article>
    )
}

{
    (character.switch && character.fusion) && (
    <article class="ability unique1 rd off">
            <h3>{abilities.unique1[2][0]}</h3>
            <pre>{abilities.unique1[2][1]}</pre>
        </article>
        <article class="ability unique2 rd off">
            <h3>{abilities.unique2[2][0]}</h3>
            <pre>{abilities.unique2[2][1]}</pre>
        </article>
    )
}

{
    zenkaiAbilities && character.zenkai && (
        <>
            <article class="ability unique1 st-zenkai off">
                <h3>{zenkaiAbilities.unique1[0][0]}</h3>
                <pre>{zenkaiAbilities.unique1[0][1]}</pre>
            </article>
            <article class="ability unique2 st-zenkai off">
                <h3>{zenkaiAbilities.unique2[0][0]}</h3>
                <pre>{zenkaiAbilities.unique2[0][1]}</pre>
            </article>
            <article class="ability unique3 st-zenkai off">
                <h3>{zenkaiAbilities.unique3[0][0]}</h3>
                <pre>{zenkaiAbilities.unique3[0][1]}</pre>
            </article>
            <article class="ability unique4 st-zenkai off">
                <h3>{zenkaiAbilities.unique4[0][0]}</h3>
                <pre>{zenkaiAbilities.unique4[0][1]}</pre>
            </article>
        </>
    )
}


{
    (character.transformable || character.switch) && (zenkaiAbilities && character.zenkai) && (
    <>
            <article class="ability unique1 nd-zenkai off">
                <h3>{zenkaiAbilities.unique1[1][0]}</h3>
                <pre>{zenkaiAbilities.unique1[1][1]}</pre>
            </article>
            <article class="ability unique2 nd-zenkai off">
                <h3>{zenkaiAbilities.unique2[1][0]}</h3>
                <pre>{zenkaiAbilities.unique2[1][1]}</pre>
            </article>
            <article class="ability unique3 nd-zenkai off">
                <h3>{zenkaiAbilities.unique3[1][0]}</h3>
                <pre>{zenkaiAbilities.unique3[1][1]}</pre>
            </article>
            <article class="ability unique4 nd-zenkai off">
                <h3>{zenkaiAbilities.unique4[1][0]}</h3>
                <pre>{zenkaiAbilities.unique4[1][1]}</pre>
            </article>
        </>
    )
}