---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Analytics from "@vercel/analytics/astro";

interface Props {
	Title: string;
	ICO: string;
	Cannonical: URL;
	Color?: string;
	Selected: number;
}

const { Title, ICO, Cannonical, Color = "", Selected } = Astro.props;
---

<!doctype html>
<html class={Color} lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,  initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link
			rel="icon"
			type="image/*"
			href={ICO == "default" ? "https://raw.githubusercontent.com/srjorgedev/dblbox_resources/refs/heads/main/bchaico/539.webp" : ICO}
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{Title}</title>
		<meta name="google-adsense-account" content="ca-pub-7780837724792452" />
		<base href="https://www.dbl-box.com/" />
		<!-- <base href="http://localhost:4321/" /> -->
		<meta name="facebook-domain-verification" content="xjl2mvg6dgmiaswcih162e1uo5zjkw" />
		<meta property="og:site_name" content="DBL BOX" />
		<meta property="og:title" content={`${Title} | DBL BOX`} />
		<meta name="twitter:title" content={`${Title} | DBL BOX`} />
		<link rel="canonical" href={Cannonical} />
		<meta
			name="description"
			content="DBL BOX es tu fuente definitiva para todo sobre Dragon Ball Legends. Encuentra informaci칩n detallada de personajes, habilidades, equipamientos y m치s, todo presentado de manera clara y accesible. Adem치s, disfruta de herramientas como una calculadora de rangos y un Tiermaker para clasificar a tus personajes favoritos de forma f치cil y divertida."
		/>
		<meta
			name="keywords"
			content="DBL BOX, Dragon Ball Legends, DB Legends, Dragon Ball, DB Legends, Dragon Ball Legends API, Characters Dragon Ball Legends, Rank Calculator, Tiermaker DBL, BOX DBL"
		/>
		<link rel="sitemap" href="/sitemap.xml" />
		<script
			is:inline
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7780837724792452"
			crossorigin="anonymous"></script>
	</head>
	<body>
		<main class="layout">
			<Header Selected={Selected} />
			<slot />
			<Analytics />
			<Footer />
		</main>
	</body>
</html>

<style is:global>
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		border: none;
	}

	:root {
		--bg-main: rgb(10, 22, 37);
		--bg-second: rgba(20, 44, 74, 0.078);
		--bg-third: rgba(40, 88, 148, 0.28);

		--opacity-1: 0.1;
		--opacity-2: 0.3;

		--bg-strike: rgba(135, 20, 13, var(--opacity-1));
		--bg-blast: rgba(206, 126, 2, var(--opacity-1));
		--bg-special-art: rgba(9, 86, 31, var(--opacity-1));
		--bg-special-move: rgba(11, 69, 180, var(--opacity-1));
		--bg-awaken: rgba(131, 9, 137, var(--opacity-1));
		--bg-ultimate: rgba(50, 73, 98, var(--opacity-1));

		--bg-strike-2: rgba(135, 20, 13, var(--opacity-2));
		--bg-blast-2: rgba(206, 126, 2, var(--opacity-2));
		--bg-special-art-2: rgba(9, 86, 31, var(--opacity-2));
		--bg-special-move-2: rgba(11, 69, 180, var(--opacity-2));
		--bg-awaken-2: rgba(131, 9, 137, var(--opacity-2));
		--bg-ultimate-2: rgba(50, 73, 98, var(--opacity-2));

		--color-1: var(--bg-second);
		--color-2: var(--bg-third);

		--round-sm: 4px;
		--round-md: 8px;
		--round-md-lg: 12px;
		--round-lg: 16px;
		--roung-xl: 24px;
		--round-xxl: 32px;

		--blu-100: rgba(0, 204, 255, 0.048);
		--blu-50: rgba(0, 204, 255, 0.28);

		--grn-100: rgba(21, 255, 0, 0.048);
		--grn-50: rgba(21, 255, 0, 0.28);

		--pur-100: rgba(98, 0, 255, 0.048);
		--pur-50: rgba(98, 0, 255, 0.28);

		--yel-100: rgba(255, 255, 0, 0.048);
		--yel-50: rgba(255, 255, 0, 0.28);

		--red-100: rgba(255, 0, 0, 0.048);
		--red-50: rgba(255, 0, 0, 0.28);
	}

	html {
		color: #f1f1f1;
		font-size: 12px;
		font-family: sans-serif, Arial, Helvetica;
	}

	html,
	body {
		width: 100%;
		background-color: var(--bg-main);
		scrollbar-gutter: auto;
		font-size: 1.15rem;
	}

	html.color-red {
		--color-1: var(--red-100);
		--color-2: var(--red-50);
	}

	html.color-yel {
		--color-1: var(--yel-100);
		--color-2: var(--yel-50);
	}

	html.color-pur {
		--color-1: var(--pur-100);
		--color-2: var(--pur-50);
	}

	html.color-grn {
		--color-1: var(--grn-100);
		--color-2: var(--grn-50);
	}

	html.color-blu {
		--color-1: var(--blu-100);
		--color-2: var(--blu-50);
	}

	main.layout {
		height: 100%;
		margin: 0 auto;
		position: relative;
		width: 100%;

		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	@media (max-width: 769px) {
		main.layout {
			max-width: 100%;
		}
	}

	@media (min-width: 769px) {
		main.layout {
			max-width: calc(100% - 2rem);
		}
	}

	@media (min-width: 1080px) {
		main.layout {
			max-width: 1024px;
		}
	}

	@media (min-width: 1440px) {
		main.layout {
			max-width: 1280px;
		}
	}
</style>
